body {
    font-family: 'PT Root UI', sans-serif;
	@include text(18px, 28px, 500);
}

.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
}

.title-h1 {
	@include text(51px, 56px, 700);
	margin: 0;
	margin-bottom: 24px;
}

.title-h2 {
	@include text(36px, 40px, 700);
	margin: 0;
	margin-bottom: 24px;
}

.text-orange {
	color: $orange1;
}