body {
    font-family: 'PT Root UI', sans-serif;
	@include text(18px, 150%, 500);
	color: $darkGrey;
}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

ul {
	@include reset-list;
}

.container {
	max-width: 1448px;
	width: 100%;
	padding: 0 16px;
	margin: 0 auto;
}

.title-h1 {
	@include text(51px, 56px, 700);
	margin: 0;
	margin-bottom: 24px;
}

.title-h2 {
	@include text(36px, 40px, 700);
	margin: 0;
	margin-bottom: 24px;
}

.text-orange {
	color: $orange1;
}